.basket {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.basket__buttons {
  margin-top: 15px;
}

.basket__buy-button {
  width: 150px;
}

.basket__clear-button {
  width: 120px;
}
