@import 'theme';

body {
  margin: 0;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
}

.main__container {
  margin: 8px;
}

.banner {
  position: sticky;
  top: 0;
  margin: 0;
  background-color: $highlight-colour;
  padding: 15px;

  a {
    color: $text-overlay-colour;
    text-decoration: none;
  }
}

.button {
  border-radius: 4px;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 0px $border-colour;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button--buy {
  background-color: $main-colour;
  color: $text-overlay-colour;
}
