@import 'theme';

body {
  margin: 0;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
}

.main__container {
  margin: 8px;
}

.banner {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  background-color: $highlight-colour;
  padding: 15px;
  text-decoration: none;

  a {
    color: $text-overlay-colour;
    text-decoration: none;
  }
}

.banner__title {
  margin: 0;
}

.button {
  border-radius: 4px;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 0px $border-colour;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:active {
    box-shadow: inset 0px 0px 8px 0px $border-colour;
  }
}

.button--buy {
  background-color: $main-colour;
  color: $text-overlay-colour;
}

.button__loader {
  height: 25px;
  filter: invert(0.9);
}

.money {
  color: $highlight-colour;
}
