$main-colour: #05b557;
$highlight-colour: #8f322b;
$border-colour: #000000;
$text-colour: #000000;
$text-overlay-colour: #ffffff;
$frame-colour: #a4a4a4;
$info-colour: #2ba1f0;
$error-colour: #ff2222;

$item-border: solid black 1px;
