<% if @product.nil? %>
<h1>Hmm. Didn't find that!</h1>
<% else %>

<%= react_component("product/Product",
  {
    product: @product,
    imagePath: product_image_url(@product.id),
    addToCartURL: baskets_add_url,
    basketID: basket_id,
    loaderGIFURL: image_url("icon/loader.gif")
  },
  {
    class: "product"
  })
%>
<% end %>
