@import 'theme';

.banner-basket {
  position: relative;

  width: 45px;
  margin-top: 2px;

  cursor: pointer;
}

.banner-basket__image {
  width: 100%;
  filter: invert(1);
}

.banner-basket__count {
  position: absolute;
  top: 27px;

  background-color: $main-colour;
  padding: 2px;
  width: 20px;

  border-radius: 5px;
  font-size: 17px;

  color: $text-overlay-colour;
  text-align: center;
}
