@import 'theme';

$button-height: 25px;

.button {
  border-radius: 4px;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 0px $border-colour;

  height: $button-height;

  text-align: center;
  cursor: pointer;
  user-select: none;

  &:active {
    box-shadow: inset 0px 0px 8px 0px $border-colour;
  }

  & + & {
    margin-left: 15px;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button--buy {
  background-color: $main-colour;
  color: $text-overlay-colour;
}

.button--destroy {
  background-color: $error-colour;
  color: $text-overlay-colour;
}

.button__loader {
  height: $button-height;
  filter: invert(0.9);
}
